{% extends 'mobile_company/main.html' %}

{% load static %}

{% block content %}
    <form action="" method="POST" style="background-color: #66d9d9; padding: 30px; text-align: center;">
        {% csrf_token %}
        {{ p_n_forms.management_form }}
        <label> Create new Numbers using following fields</label>
        <hr>
        {% for i in p_n_forms %}
            {{ i }}
        <hr>
        {% endfor %}
        <br>
        <br>
        <input type="submit" name="create" value="Create Numbers"/>

    </form>

{% endblock %}