<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title"> Number in Beeline </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ Counts1 }}</h3>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title"> Number in Uzmobile </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ Counts2 }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title"> Number in Ucell </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ Counts3 }}</h3>
                </div>
            </div>
        </div>
    </div>
     <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title"> Number in Mobiuz </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ Counts4 }}</h3>
                </div>
            </div>
        </div>
    </div>
         <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title"> Number in Humans </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ Counts5 }}</h3>
                </div>
            </div>
        </div>
    </div>

</div>